<!-- app/views/pages/ask.html.erb -->
<p class="banner">PATH: app/views/coaching/ask.html.erb</p>
<br>
<div class="container">
  <h1 class="title">05-Rails/01-Rails-intro/02-Stupid-coaching 🚀</h1>

  <form action="/answer">
    <label for="">Ask your coach anything:</label>
    <div class="input">
      <input type="text" name="question" placeholder=")!?!">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>
